<div id="principal">
    <div id="titulo" class="section-tittle" align="center" style="margin-top: 70px;">
        <h2>Registro de vehículo</h2>
    </div>
    <div id="media">
        <div id="formu" align="center" style="margin-bottom: 70px">
            <br>
            <br>
            <form id="registroCita" class="entry-form">

                <input name="Matricula" [(ngModel)]="vehiculo.Matricula" type="text" placeholder="Matricula" value="{{vehiculo.Matricula}}" class="form-control">

                <input name="Marca" [(ngModel)]="vehiculo.Marca" type="text" placeholder="Marca" value="{{vehiculo.Marca}}" class="form-control">

                <input name="Modelo" [(ngModel)]="vehiculo.Modelo" type="text" placeholder="Modelo" value="{{vehiculo.Modelo}}" class="form-control">

                <input name="guardarVehiculo" type="button" (click)="guardarVehiculo()" value="Registrar vehìculo" class="section-btn">

            </form>
        </div>
    </div>