<br>
<input [(ngModel)]="cita.id_cita" type="hidden" placeholder="ID CITA" value="{{cita.id_cita}}">
<br>
<input [(ngModel)]="cita.Fecha_Hora" type="datetime" placeholder="Fecha y Hora" value="{{cita.Fecha_Hora}">
<br>
<input [(ngModel)]="cita.Motivo" type="text" placeholder="Motivo de la cita" value="{{cita.Motivo}}">
<br>
<input [(ngModel)]="cita.id_Empleado" type="hidden" placeholder="ID EMPLEADO" value="{{cita.id_Empleado}}">
<br>
<input [(ngModel)]="cita.Matricula_Vehiculo" type="text" placeholder="Matricula del Vehiculo" value="{{cita.Matricula_Vehiculo}}">
<br>
<br>
<button (click)="registrarcita()">Registrar cita</button>

<br>
<br>