<div id="principal">
    <div id="titulo" class="section-tittle" align="center" style="margin-top: 70px;">
        <h2>Registro de citas</h2>
    </div>
    <div id="media">
        <div id="formu" align="center" style="margin-bottom: 70px">
            <br>
            <br>
            <form id="registroCita" class="entry-form">

                <!--ID ÚNICO DE LA CITA-->

                <input [(ngModel)]="cita.id_cita" type="hidden" value="{{cita.id_cita}}" class="form-control" name="id_cita">

                <!--FECHA DE LA CITA-->

                <input [(ngModel)]="cita.Fecha" type="date" placeholder="Fecha" value="{{cita.Fecha}}" class="form-control Fecha" name="Fecha" required>


                <!--HORA DE LA CITA-->
                <input [(ngModel)]="cita.Hora" type="time" placeholder=" Hora" value="{{cita.Hora}}" class="form-control" name="Hora" required>


                <!--MOTIVO ó DESCRIPCION DE LA CITA-->
                <input [(ngModel)]="cita.Motivo" type="text" placeholder="Motivo de la cita" value="{{cita.Motivo}}" class="form-control" name="Motivo" required>



                <!--MATRICULA DEL VEHÍHCULO-->
                <div class="custom-select">
                    <select name="matri" id="matri" [(ngModel)] = "cita.Matricula_Vehiculo">
                        <option value="{{vehi.Matricula}}" *ngFor = "let vehi of cliente.Vehiculo" > {{vehi.Matricula}} </option>
                    </select>
                </div>


                <!--BOTON DE REGISTRAR-->
                <input type="button" (click)="registrarcita()" value="Registrar Cita" class="section-btn">

            </form>
        </div>
    </div>